@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
  background-color: #271c19;
  margin: 0;
  padding: 0;
  height: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  padding: 20px;
  box-sizing: border-box;
  width: 100%; 
  max-width: 450px; 
  z-index: 25;
  margin: 0 auto; 
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.search-bar {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  width: 100%; 
}

.search-button {
  background-color: #55423d;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.search-results {
  margin-top: 20px;
  width: 100%; 
  max-width: 450px; 
}


.game-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-cover {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.game-result span {
  font-size: 16px;
  color: #333;
}

.game-result img {
  border-radius: 8px;
}
.wishlist-button {
  background-color: #55423d;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .search-container {
    width: 60%;
    padding: 10px;
  }
  
  .search-bar {
    padding: 8px 16px;
    font-size: 12px;
  }
  
  .search-button {
    padding: 8px 16px;
  }
  
  .game-result {
    width: 200px;
    font-size:10px;
    padding: 8px;
  }
  
  .game-cover {
    width: 40px;
    height: 40px;
  }
  
  .game-result span {
    font-size: 10px;
  }
}









