@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
  background-color: #271c19;
  margin: 0;
  padding: 0;
  height: 100%;
}
<<<<<<< HEAD

.search-first-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.search-second-container {
  width: 70%;
  background-color: #f1f1f1;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 16px; /* Add margin between search bar and results */
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px; /* Adjust margin bottom as needed */
}

.search-bar {
  border: none;
  outline: none;
  background: none;
  padding: 8px;
  font-size: 16px;
  flex: 1;
}

.search-button {
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 20px;
  margin-left: 8px;
}

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px; /* Adjust margin top as needed */
}

.game-cover {
  width: 50px;
  height: auto;
  margin-bottom: 8px; 
  border-radius: 8px;
}
=======
>>>>>>> 8a528a735c9072745f1eaca0ed51d9be830f04aa
