@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ); /* Three columns */
  gap: 0px; /* Gap between tiles */
  max-width: 80%;
  float: right;
}

.game-title {
  font-weight: 500;
  color: #ffc0ad;
}

.topper {
  display: flex;
}

.tile-wrapper {
  background: #55423d;
  border-radius: 16px;
  padding: 1.25rem;
  margin: 1rem;
  max-width: 400px;
}

.topper img {
  border-radius: 1rem;
  margin-bottom: 6px;
  width: calc(100% / 3 - 20px);
}

.title-rating-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: #fff3ec;
}

.summary,
.genre-list {
  color: #fff3ec;
}

.genre-list {
  text-decoration: underline;
}

.summary {
  font-size: 14px;
}

.game-rating,
.game-price {
  font-weight: 400;
}
